<nav class="navbar navbar-inverse" style="background-color: beige;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" (click)="views.emit('viewed')">WebSiteName</a>
        </div>
        <!-- <div *ngIf="user"> -->
        <!-- <h6>hello {{user}}</h6> -->
        <!-- </div> -->
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li title="(input/output usage)reload to see logout/manage based on local storage">
                <a (click)="logout()" routerLink="/"><span class="glyphicon glyphicon-log-in"></span>{{logoutText}}</a></li>
        </ul>
    </div>
</nav>